{% extends 'base.html' %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
    <h1>Ваш профіль</h1>

    <!-- Відображення поточного фото профілю -->
    <img src="{{ image_file }}" alt="Фото профілю" width="150" height="150">
    
    <!-- Виведення поточного імені користувача -->
    <p><strong>Ім'я користувача:</strong> {{ current_user.username }}</p>
    
    <!-- Виведення поточного email -->
    <p><strong>Email:</strong> {{ current_user.email }}</p>
    
    <!-- Виведення поточного опису користувача -->
    <p><strong>Про себе:</strong> {{ current_user.about_me or 'Це поле порожнє.' }}</p>

    <!-- Виведення часу останнього входу -->
    <p><strong>Останній вхід:</strong> {{ last_seen }}</p>

    <!-- Форма для оновлення профілю -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <!-- Поле для нового імені користувача -->
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <!-- Поле для нового email -->
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <!-- Поле для нового опису користувача -->
        <div class="form-group">
            {{ form.about_me.label(class="form-label") }}
            {{ form.about_me(class="form-control") }}
            {% for error in form.about_me.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <!-- Поле для завантаження нового фото -->
        <div class="form-group">
            {{ form.picture.label(class="form-label") }}
            {{ form.picture(class="form-control-file") }}
            {% for error in form.picture.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <h2>Змінити пароль</h2>
    <div class="form-group">
        {{ change_password_form.old_password.label }}
        {{ change_password_form.old_password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ change_password_form.new_password.label }}
        {{ change_password_form.new_password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ change_password_form.confirm_password.label }}
        {{ change_password_form.confirm_password(class="form-control") }}
    </div>
        <!-- Кнопка для відправлення форми -->
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %}
