{% extends "base.html" %}
{% block title %} Resume {% endblock %}
{% block content %}

<nav class="resume-nav">
    {% include "_navigation.html" %}
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Фото профілю">
    </header>

    <section id="about">
        <h2>Про себе</h2>
        <p>Я — студент Прикарпатського університету, де навчаюся на спеціальності "Інженерія програмного забезпечення". Маю велике бажання здобути знання та навички в розробці програмного забезпечення, щоб успішно реалізувати себе в IT-індустрії. Хоча у мене поки що немає досвіду роботи, я активно займаюся самостійними розробками, що допомагає мені розвивати практичні навички. У вільний час я захоплююся програмуванням, що допомагає мені залишатися креативним і продуктивним. Моя мета — стати кваліфікованим спеціалістом у сфері програмної інженерії, зокрема в [ваша сфера інтересів, наприклад, веб-розробка, мобільні додатки, системне програмування], та активно впливати на розвиток технологій.</p>
    </section>

    <section id="education">
        <h2>Освіта</h2>
        <p>Прикарпатський національний університет імені Василя Стефаника</p>
        <p>Спеціальність: Інженерія програмного забезпечення</p>
        <p>Роки навчання: 2022 – дотепер</p>
    </section>
    
    <section id="skills">
        <h2>Навички</h2>
        <ul class="resume1-ul">
            <li>Базові знання програмування на C++</li>
            <li>Базові знання розробки застосунків на Qt</li>
            <li>Базові знання роботи з OpenGL</li>
            <li>Базові знання програмування на PHP</li>
            <li>Верстка веб-сторінок (HTML, CSS)</li>
        </ul>
    </section>
</nav>

{% endblock %}
